@media (min-width: 0px){
    .section-2{
     background-image: url(../assets/img/7.png);
        width: 100%;
        height: 450px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        margin-top: -60px;
        position: relative;
        z-index: -10000000000000;
        .section-2__div{
            .section-2__text-1{
                font-size: 16px;
                font-weight: 500;
                color: #ffff;
                text-align: center;
                margin-top: 35px;
                .dk-1{
                    font-weight: 600;
                    color: #E9C564;
                }
                .br2-768{
                    display: none;
                }
            }
            .section-2__div-border-1{
                background: #E9C564;
                height: 2px;
                width: 100%;
                margin-top: 16px;
            }
            .section-2__text-2{
                font-size: 14px;
                font-weight: 600;
                color: #ffff;
                text-align: center;
                margin-top: 16px;
                .dk-2{
                    color: #EAC666;
                }
                .br2-768{
                    display: none;
                }
            }
             .section-2__div-border-2{
                background: #E9C564;
                height: 2px;
                width: 100%;
                margin-top: 16px;
            }
            .section-2__text-3{
                font-size: 12px;
                font-weight: 400;
                color: #ffff;
                text-align: center;
                margin-top: 16px;
                .br2-768{
                    display: none;
                }
            }
            .section-2__text-4{
                   font-size: 12px;
                font-weight: 400;
                color: #ffff;
                text-align: center;
                margin-top: 8px;
                .br2-768{
                    display: none;
                }
            }
             .section-2__div-border-3{
                background: #E9C564;
                height: 2px;
                width: 100%;
                margin-top: 16px;
            }
        }
    }
}

@media (min-width: 768px){
    .section-2{
        height: 700px;
        margin-top: -60px;
        z-index: -10000000000000;
        .section-2__div{
            display: flex;
            justify-content: center;
            .section-2__text-1{
                font-size: 16px;
                font-weight: 500;
                color: #ffff;
                text-align: right;
                margin-top: 50px;
                .dk-1{
                    font-weight: 600;
                    color: #E9C564;
                }
                .br2-768{
                    display: block;
                }
                 .br2-0{
                    display: none;
                }
            }
            .section-2__div-border-1{
                background: #E9C564;
                height: 150px;
                width: 2px;
                margin-top: 7px;
                margin-left: 40px;
                margin-right: 40px;
            }
            .section-2__div-text{
            .section-2__text-2{
                font-size: 14px;
                font-weight: 600;
                color: #ffff;
                text-align: left;
                margin-top: 16px;
                .dk-2{
                    color: #EAC666;
                }
               .br2-768{
                    display: block;
                }
                 .br2-0{
                    display: none;
                }
            }
             .section-2__div-border-2{
               display: none;
            }
            .section-2__text-3{
                font-size: 12px;
                font-weight: 400;
                color: #ffff;
                text-align: left;
                margin-top: 8px;
               .br2-768{
                    display: block;
                }
                 .br2-0{
                    display: none;
                }
            }
            .section-2__text-4{
                   font-size: 12px;
                font-weight: 400;
                color: #ffff;
                text-align: left;
                margin-top: 8px;
               .br2-768{
                    display: block;
                }
                 .br2-0{
                    display: none;
                }
            }
             .section-2__div-border-3{
               display: none;
            }
            }
        }
    }
}

@media (min-width: 1100px){
    .section-2{
     background-image: url(../assets/img/7.png);
        height: 1700px;
        margin-top: -60px;
        .section-2__div{
            padding: 119px 0px 0px 0px;
            .section-2__text-1{
                font-size: 36px;
                font-weight: 600;
                margin-top: 80px;
            }
            .section-2__div-border-1{
                background: #E9C564;
                height: 295px;
                width: 2px;
                margin-top: 7px;
                margin-left: 83px;
                margin-right: 83px;
            }
            .section-2__div-text{
            .section-2__text-2{
                font-size: 29px;
                font-weight: 600;
                color: #ffff;
                text-align: left;
                margin-top: 50px;
                .dk-2{
                    color: #EAC666;
                }
               .br2-768{
                    display: block;
                }
                 .br2-0{
                    display: none;
                }
            }
             .section-2__div-border-2{
               display: none;
            }
            .section-2__text-3{
                font-size: 18px;
                font-weight: 400;
                color: #ffff;
                text-align: left;
                margin-top: 8px;
               .br2-768{
                    display: block;
                }
                 .br2-0{
                    display: none;
                }
            }
            .section-2__text-4{
                   font-size: 18px;
                font-weight: 400;
                color: #ffff;
                text-align: left;
                margin-top: 8px;
               .br2-768{
                    display: block;
                }
                 .br2-0{
                    display: none;
                }
            }
             .section-2__div-border-3{
               display: none;
            }
            }
        }
    }
}

@media (min-width: 1500px){
    .section-2{
     background-image: url(../assets/img/7.png);
        height: 2700px;
        margin-top: -260px;
    }
}